.App {
  align-items: center;
  font-weight: 500;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  text-align: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.App.light {
  background-color: var(--white);
  color: var(--grey2);
}
.App.dark {
  background-color: var(--grey2);
  color: var(--white);
}

/* Button */

.btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 4px 8px;
}
.btn:focus {
  box-shadow: var(--glow);
}

.btn.one {
  background-color: var(--blue2);
  color: var(--white);
}
.btn.one:hover {
  background-color: var(--blue3);
}
.btn.one:active {
  color: var(--grey1);
}

.btn.two {
  background-color: var(--white);
  border: 2px solid var(--blue2);
  color: var(--blue2);
}
.btn.two:focus {
  background-color: var(--white);
  border: 2px solid var(--blue3);
}
.btn.two:hover {
  background-color: var(--blue1);
}
.btn.two:active {
  background-color: var(--grey1);
  border: 2px solid var(--blue3);
}

.btn:disabled {
  background-color: var(--blue1);
  border: 2px solid var(--grey1);
  color: var(--grey1);
  cursor: not-allowed;
}

/* Input */

.input {
  border: 2px solid var(--grey1);
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 4px 8px;
}
.input:hover {
  background-color: var(--blue1);
}
.input:focus {
  border: 2px solid var(--blue2);
  box-shadow: var(--glow);
}
.input::placeholder {
  color: var(--grey1);
}

.input-error {
  color: var(--red);
  font-size: 12px;
  text-align: left;
}

.floating-label-input {
  margin: 1rem auto;
  position: relative;
  width: max-content;
}
.input:focus + .floating-label,
.input:not(:focus):valid + .floating-label {
  color: var(--blue2);
  font-size: 12px;
  left: 8px;
  opacity: 1;
  top: -16px;
}
.floating-label {
  color: var(--grey1);
  left: 8px;
  pointer-events: none;
  position: absolute;
  top: 8px;
  transition: 0.2s ease all;
}

/* Link */

.link {
  color: var(--blue2);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: var(--blue3);
}
.dark .link {
  color: var(--white);
}
.dark .link:active {
  color: var(--blue2);
}

/* Select */

.select {
  border: 2px solid var(--blue1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  min-width: 100px;
  max-width: 200px;
  outline: none;
  padding: 4px 8px;
  width: max-content;
}
.select:hover {
  background-color: var(--blue1);
}
.select:focus {
  border: 2px solid var(--blue2);
  box-shadow: var(--glow);
}
.select:active {
  border: 2px solid var(--blue3);
}

/* Switch */

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}
.slider {
  background-color: var(--grey1);
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.slider:before {
  background-color: var(--white);
  border-radius: 50%;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  width: 26px;
}
input:checked + .slider {
  background-color: var(--blue3);
}
input:hover + .slider {
  background-color: var(--blue2);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--blue2);
}
input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
}

/* Tooltips */

.tooltip {
  position: relative;
  text-align: center;
}
.tooltip::after {
  background-color: var(--blue2);
  border-radius: 10px;
  color: var(--white);
  content: attr(tooltip-content);
  display: none;
  left: 50%;
  max-width: 10rem;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  width: max-content;
  z-index: 2;
}
.tooltip::before {
  background-color: var(--blue2);
  content: '';
  display: none;
  height: 1rem;
  left: 50%;
  position: absolute;
  width: 1rem;
  z-index: 2;
}
.tooltip:hover::after {
  display: block;
}
.tooltip:hover::before {
  display: block;
}
.tooltip.top::after {
  top: 0;
  transform: translate(-50%, calc(-100% - 10px));
}
.tooltip.top::before {
  top: 0;
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}
.tooltip.bottom::after {
  bottom: 0;
  transform: translate(-50%, calc(100% + 10px));
}
.tooltip.bottom::before {
  bottom: 0;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}
