.App {
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-weight: 500;
  justify-content: center;
  min-height: 100vh;
  overflow: scroll;
  padding: 25px;
  position: absolute;
  text-align: center;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  width: 100%;
}
.App.dark {
  background-color: var(--grey2);
  color: var(--white);
}

/* Button */

.btn {
  padding: 8px 12px;
}
.btn:focus {
  box-shadow: var(--glow);
}

.btn.one {
  background-color: var(--blue2);
  color: var(--white);
}
.btn.one:hover {
  background-color: var(--blue3);
}
.btn.one:active {
  color: var(--blue1);
}

.btn.two {
  background-color: var(--white);
  border: 2px solid var(--blue2);
  color: var(--blue2);
}
.btn.two:focus {
  background-color: var(--white);
  border: 2px solid var(--blue3);
}
.btn.two:hover {
  background-color: var(--blue1);
}
.btn.two:active {
  border: 2px solid var(--blue3);
  color: var(--blue3);
}

.btn:disabled {
  background-color: var(--blue1);
  border: 2px solid var(--grey1);
  color: var(--grey1);
  cursor: not-allowed;
}

/* Fade Animation */

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

/* Input */

.input {
  border: 2px solid var(--grey1);
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 4px 8px;
}
.input:hover {
  background-color: var(--blue1);
}
.input:focus {
  border: 2px solid var(--blue2);
  box-shadow: var(--glow);
}
.input::placeholder {
  color: var(--grey1);
}

.input-error {
  color: var(--red);
  font-size: 12px;
}

/* Link */

.link {
  color: var(--blue2);
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: var(--blue3);
}
.dark .link {
  color: var(--white);
}
.dark .link:active {
  color: var(--blue1);
}

/* Select */

.select {
  border: 2px solid var(--blue1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  min-width: 100px;
  max-width: 200px;
  outline: none;
  padding: 4px 8px;
  width: max-content;
}
.select:hover {
  background-color: var(--blue1);
}
.select:focus {
  border: 2px solid var(--blue2);
  box-shadow: var(--glow);
}
.select:active {
  border: 2px solid var(--blue3);
}

/* Slide Animation */

.slide-enter {
  position: fixed;
  transform: translate(100%);
}
.slide-enter-active {
  position: fixed;
  transition: transform 350ms ease-in;
  transform: translate(0);
}
.slide-exit-active {
  position: fixed;
  transition: transform 350ms ease-in;
  transform: translate(-100%);
}

/* Tooltips */

.tooltip {
  position: relative;
  text-align: center;
}
.tooltip::after {
  background-color: var(--blue2);
  border-radius: 10px;
  color: var(--white);
  content: attr(tooltip-content);
  display: none;
  left: 50%;
  max-width: 10rem;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  width: max-content;
  z-index: 2;
}
.tooltip::before {
  background-color: var(--blue2);
  content: '';
  display: none;
  height: 1rem;
  left: 50%;
  position: absolute;
  width: 1rem;
  z-index: 2;
}
.tooltip:hover::after {
  display: block;
}
.tooltip:hover::before {
  display: block;
}
.tooltip.top::after {
  top: 0;
  transform: translate(-50%, calc(-100% - 10px));
}
.tooltip.top::before {
  top: 0;
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}
.tooltip.bottom::after {
  bottom: 0;
  transform: translate(-50%, calc(100% + 10px));
}
.tooltip.bottom::before {
  bottom: 0;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}
