* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue1: #f0f8ff;
  --blue2: #1e90ff;
  --blue3: #00538c;

  --grey1: #cad2d8;
  --grey2: #232f39;

  --red: #e04040;

  --white: #ffffff;

  --glow: 0 0 2px 2px rgba(57, 141, 227, 0.54);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

footer {
  position: absolute;
  left: 0;
  bottom: 5px;
  right: 0;
}
