* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue1: #c4def5;
  --blue2: #1e90ff;
  --blue3: #00538c;

  --grey1: #a2aaaf;
  --grey2: #050e14;

  --red: #e04040;

  --white: #ffffff;

  --glow: 0 0 2px 2px rgba(57, 141, 227, 0.54);
}

a {
  background-color: inherit;
  border: none;
  color: var(--blue2);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.dark a {
  color: var(--white);
}

body {
  font-family: 'Arvo', serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h5,
h6,
p {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 14px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

footer {
  bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
}
